/* LostinSouth Font */
@font-face {
  font-family: 'LostinSouth';
  src: url('./LostinSouth.woff2') format('woff2'),
       url('./LostinSouth.woff') format('woff'),
       url('./LostinSouth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Alternative: Using Google Fonts or other CDN if available */
@import url('https://fonts.cdnfonts.com/css/lostinsouth');


